{% extends 'shop/basic.html' %}

{% block title %} About US{% endblock %}

{% block body %}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">PracMyCart</h1>
        <p>Online customers must have access to the Internet and a valid method of payment in order to complete a transaction. Generally, higher levels of education and personal income correspond to more favorable perceptions of shopping online. Increased exposure to technology also increases the probability of developing favorable attitudes towards new shopping channels</p>
        <p><a class="btn btn-outline-info btn-lg" href="/shop/contact" role="button">Contact Us</a></p>
      </div>
    </div>
  
      <hr>
  
  </main>


{% endblock %}